body {
  background-color: #555555;
}

#map {
  height: 100vh;
}

#popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
}

#popup-content {
  background: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
}

#popup-content input {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
}

#popup-content button {
  margin-top: 10px;
  padding: 8px 12px;
  cursor: pointer;
}
